<div class="container">
    <div class="principal">
        <img class="img-flotante" width="100px" height="80px" [src]="miimagen" alt="logotipo">
        <input class="btn-flotante" type="button" value="N" (click)="mivalor()"/>
        <input class="btn-flotante" type="button" value="N" (click)="mostrarTemporal()"/>
        <input class="btn-flotante" type="button" value="D" (click)="apt.appear()"/>
        <input class="btn-flotante" type="button" value="Sh" (click)="popup1.appear()"/>
        <input class="btn-flotante" type="button" value="N"/>
        <input class="btn-flotante" type="button" value="N"/>
        <input class="btn-flotante" type="button" value="N"/>
    </div>
</div>
<app-panel-temporal #apt></app-panel-temporal>
<app-popup #popup1 [title]="title1">
</app-popup>
