p{
    position:absolute;
    top:0px;
    display:flex;
    width: 100%;
    background-color: red;
    height: 80px;
    z-index: 10;
    opacity: 0.1;
    text-align: center;
}
.container {
    position: absolute;
    /*border:2px solid red;
    outline: 5px solid green;
    outline-offset: 5px;*/
   /* left: 130px;*/
    width: 100%;
    height:80px;
    background-color: transparent;
    z-index:12;
    /*opacity: 0.5;*/
}

.principal{
    position:absolute;
    display:block;
    width: 100%;
    height: 80px;
    /*background: rgb(170, 187, 97);/* Fallback */
    background: rgba(170, 187, 97, 0.2);
    z-index: 10;
   /*opacity: 0.1;*/
}
.btn-flotante {
    left:250px;
    position:relative;
    float:left;
    display:block;
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #f0eaea; /* Color del texto */
	border-radius: 45px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #7c666b; /* Color de fondo */
	/*padding: 108px 80px; /* Relleno del boton */
    margin: 10px;
    width: 50px;
    height: 50px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 12;
    opacity: 1;
}
.btn-flotante:hover{
    cursor: pointer;
}
.img-flotante
{
    position:absolute;
    top:0px;
    left:50px;
}