<app-panel-h #panelh [title1]="map"></app-panel-h>
<app-panel-v></app-panel-v>
<div class="row" height="100%" width="100%">
    <div id="hotel_map" height="100%" width="100%"></div>
    <span id="status"></span>
    <div id="map" class="map" height="20px" width="100%"></div>
    <div id="info" class="info"></div>
    <app-popup #popup1 [title]="map">
        <p>html content of  Popup1</p>
    </app-popup>
    <app-popup #popup2 [title]="map">
        <p>html content of  Popup2</p>
    </app-popup>
    <div id="info1" class="info"></div>
    <div id="info2" class="info2"></div>
    <button md-button (click)="popup1.appear()">show popup 1</button>
    <button md-button (click)="popup2.appear()">show popup 2</button>
    <button md-button (click)="apt.appear()">show temporal</button>
</div>
<app-panel-temporal #apt [title]="map"></app-panel-temporal>
