#hotel_map {
  border: 2px solid black;
    width: 100%;
    height: 90%;
}
.row{
  border: 2px solid blue;
    height: 100%;
    width: 100%;
}

.map {
  border: 4px solid green;
  width: 100%;
  height:0px;
}

.map .ol-custom-overviewmap,
.map .ol-custom-overviewmap.ol-uncollapsible {
  bottom: auto;
  left: auto;
  right: 0;
  top: 0;
}

.map .ol-custom-overviewmap:not(.ol-collapsed)  {
  border: 1px solid black;
}

.map .ol-custom-overviewmap .ol-overviewmap-map {
  border: none;
  width: 300px;
}

.map .ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

.map .ol-custom-overviewmap:not(.ol-collapsed) button{
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}

.map .ol-rotate {
  top: 170px;
  right: 0;
}
div .ol-zoom-extent .ol-unselectable .ol-control {
  border: 2px solid yellow;
  position: absolute;
  bottom: 170px;
  top:auto;
}
.info {
  position: relative;
  bottom: 175px;
  border: 2px solid red;
}
.info1 {
  position: relative;
  bottom: 0px;
  border: 2px solid red;
}
.info2 {
  background-color: burlywood;
  position: relative;
  bottom: 0px;
  border: 3px solid red;
}

