
.container {
    position: absolute;
    /*border:2px solid red;
    outline: 5px solid green;
    outline-offset: 5px;*/
   /* left: 130px;*/
    width: 60px;
    height:100%;
    background-color: transparent;
    z-index:12;
    /*opacity: 0.5;*/
}

.principal{
    position:absolute;
    display:block;
    width: 60px;
    height: 860px;
    background-color: transparent;
    z-index: 10;
    opacity: 0.5;
}
.btn-flotante {
    top:150px;
    position:relative;
    float:left;
    display:block;
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #f0eaea; /* Color del texto */
	border-radius: 45px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #080304; /* Color de fondo */
	/*padding: 108px 80px; /* Relleno del boton */
    margin: 10px;
    width: 50px;
    height: 50px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 12;
    opacity: 1;
}
.btn-flotante:hover{
    cursor: pointer;
}

