<div class="container">
    <div class="principal">
        <input class="btn-flotante" type="button" value="N"/>
        <input class="btn-flotante" type="button" value="N"/>
        <input class="btn-flotante" type="button" value="N"/>
        <input class="btn-flotante" type="button" value="N"/>
        <input class="btn-flotante" type="button" value="N"/>
        <input class="btn-flotante" type="button" value="N"/>
        <input class="btn-flotante" type="button" value="N"/>
    </div>
</div>
