:host {
  display: block;
}
p {
  position:absolute;
  top:100;
  left:100;
}
.panel-temporal{
  position:absolute; 
  display: flex;
  float:left; 
  width: 800px;
  height: 100px;
  background-color: cyan;
  border: solid 4px red;
}
.panel-temporal-win {
  opacity: 0.8;

  /*min-width: 300px;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);*/
  width: inherit !important;
  height: inherit !important;
  background-color: lawngreen;
}

.panel-temporal-title-bar {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  background-color: #07a5e7;
  height: 30% !important;
  width: 100% !important;

}
.panel-tempora-content {
  height: 70% !important;
  width: 100% !important;
}

div:hover{
  cursor: pointer;
}

