<div class="panel-temporal" *ngIf="show"
    [ngStyle]="{'top': curY + 'px', 'left': curX + 'px','z-index': curZIndex}">
    <div class="panel-temporal-win"
         [ngStyle]="{'top': curY + 'px', 'left': curX + 'px','z-index': curZIndex}"
         (mousedown)="mousedown($event)">
        <div class="panel-temporal-title-bar pane-temporal-drag"
            [ngStyle]="{'top': curY + 'px', 'left': curX + 'px','z-index': curZIndex}">
            <div >
                <button class="right" md-button (click)="minimizar()">-</button>
                <button class="right" md-button (click)="disappear()">X</button>
             </div>
              <h2>
                  {{title}}
              </h2>
        </div>
        <div class="panel-temporal-content">
            <ng-content></ng-content>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Play</th>
                    <th scope="col">Evolución temporal</th>
                    <th scope="col">Parada</th>
                    <th scope="col">Atras</th>
                    <th scope="col">Aumentar/Reducir velocidad</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><input type="button" (click)="comenzar(0)"></td> 
                      <td><input #ranger width="500px" type="range" id="fromPrice" value="50" min="0" max="100" 
                                (mousedown)="stop($event)"/>
                      <td><input #valor type="button" (click)="OnParar()"></td>
                      <td><input type="button" (click)="OnContinuar()"></td>
                      <td><input type="button" (click)="OnAumentar()"></td>
                    </tr>
                  </tbody>
              </table>
        </div>






    </div>
</div>

<!--    <div class="panel-temporal-win"
          (mousedown)="mousedown($event)">
        <div class="panel-temporal-title-bar panel-temporal-drag">
            <div >
              <button class="right" md-button (click)="disappear()">X</button>
              <button class="right" md-button (click)="minimizar()">-</button>
            </div>
            <h2>
                {{title}}
            </h2>
            <input type="text" value="2" #bindingInput/>
            <button md-button (click)="appear()">show popup 1</button>
            <button md-button (click)="sendGetrequest()">Consulta API REST</button>
        </div>

        <div class="panel-temporal-content">
            <ng-content></ng-content>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Play</th>
                    <th scope="col">Evolución temporal</th>
                    <th scope="col">Parada</th>
                    <th scope="col">Atras</th>
                    <th scope="col">Aumentar/Reducir velocidad</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><input type="button" (click)="comenzar()"></td> 
                      <td><input #ranger type="range" id="fromPrice" value="50" min="0" max="100" 
                                (mousedown)="stop($event)"/>
                      <td><input #valor type="button" (click)="OnParar()"></td>
                      <td><input type="button" (click)="OnContinuar()"></td>
                      <td><input type="button" (click)="OnAumentar()"></td>
                    </tr>
                  </tbody>
              </table>
        </div>
    </div>

    <div class="popup-overlay blur-in" [ngStyle]="{'z-index': curZIndex - 1}" (click)="disappear()">
    </div>
</div>-->

