<div class="popup" *ngIf="show">

    <div class="popup-win"
         [ngStyle]="{'top': curY + 'px', 'left': curX + 'px','z-index': curZIndex}"
          (mousedown)="mousedown($event)">
        <div class="popup-title-bar popup-drag">
            <div >
              <button class="right" md-button (click)="disappear()">X</button>
              <button class="right" md-button (click)="minimizar()">-</button>
            </div>
            <h2>
                {{title}}
            </h2>
            <input type="text" value="2" #bindingInput/>
            <button md-button (click)="MOpacidad()">MOpacidad</button>
            <button md-button (click)="Comunidades()">Comunidades</button>
            <button md-button (click)="Provincias()">Provincias</button>
            <button md-button (click)="Municipios()">Municipios</button>
            <button md-button (click)="appear()">show popup 1</button>
            <button md-button (click)="sendGetrequest()">Consulta API REST</button>
        </div>

        <div class="popup-content">
            <ng-content></ng-content>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Visibilidad</th>
                    <th scope="col">Opacidad</th>
                    <th scope="col">Subir</th>
                    <th scope="col">Bajar</th>
                    <th scope="col">Borrar</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of estacapa">
                      <td>{{user.nombre}}</td><!--<progress min="0" max="100" value="75">este es un elemento de progreso no soportado por tu navegador, prueba con otro </progress></td> -->
                      <td>{{user.visibilidad}}
                         <input #valor type="checkbox" (change)="getIndex(user.idunique,valor,$event.target)"></td>
                      <td>{{user.opacidad}}        <label>Price From:</label>
                        <input #ranger type="range" id="fromPrice" value="50" min="0" max="100" 
                                (input)="ChangeOpa($event,ranger.value,user.idunique)" (mousedown)="stop($event)"/>
                        <label id="fPrince"></label></td>
                      <td>{{user.subir}}<input type="radio" id="male1" name="gender1" value="male" 
                                checked="checked" (change)="OnSubir(user.zzindex)"></td>
                      <td>{{user.bajar}}<input type="radio" id="male2" name="gender2" value="male"
                                checked="checked" (change)="OnBajar(user.zzindex)"></td>
                      <td>{{user.borrar}}<input type="radio" id="male3" name="gender3" value="male"
                                checked="checked" (change)="OnBorrar(user.idunique)"></td>
                    </tr>
                  </tbody>
                  <div>
                    <input type="button" value="Añadir Servicio" (click)="OnAddService()"> 
                  </div>
                  <div id="contenedor">
                    <div id="barra">
                      <div id="texto"></div>
                    </div>
                  </div>

              </table>
        </div>
    </div>

    <div class="popup-overlay blur-in" [ngStyle]="{'z-index': curZIndex - 1}" (click)="disappear()">
    </div>
</div>


