/* You can add global styles to this file, and also import other style files */
.miscala {
    border: 2px solid yellow;
    position: absolute;
    bottom: 170px;
    top:auto;
  }
.mimouseposition {
    border: 2px solid yellow;
    position: absolute;
    bottom: 2px;
    left:170px;
    top:auto;   
}
.ol-control {
  border: 2px solid yellow;
}